<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Создать магазин</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Создать магазин</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/admin/shops/create}" th:object="${shop}" method="post">
                        <div class="form-group">
                            <label for="shopName">Название магазина</label>
                            <input type="text" th:required="required" class="form-control" id="shopName"
                                   aria-describedby="shopName" placeholder="Введите название" th:field="*{name}">
                        </div>
                        <div class="form-group">
                            <label for="shopAddress">Адрес магазина</label>
                            <input type="text" class="form-control" th:required="required" id="shopAddress"
                                   aria-describedby="shopAddress" placeholder="Введите адрес"
                                   th:field="*{address}">
                        </div>
                        <div class="form-group">
                            <label for="openTime">Выберите время открытия</label>
                            <select id="openTime" th:field="*{openTime}">
                                <option th:required="required" th:each="time : ${times}"
                                        th:value="${time.getTime()}" th:text="${time.getTime()}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="closedTime">Выберите время закрытия</label>
                            <select id="closedTime" th:field="*{closedTime}">
                                <option th:required="required" th:each="time : ${times}"
                                        th:value="${time.getTime()}" th:text="${time.getTime()}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
