<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Создать новый продукт</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Новый продукт</h4>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>Пользователь</th>
                            <td th:text="${user.getName()}"></td>
                        </tr>
                    </table>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <tr th:each="cube,iter : ${cubes}">
                            <td th:text="${iter.count}"></td>
                            <td th:text="${cube.getName()}"></td>
                            <td th:text="${cube.getBrand().getName()}"></td>
                            <td th:text="${cube.getPrice()}"></td>
                            <td>
                                <a th:href="@{'/personal/cart/delete/' + ${cube.getId()}}" type="button" class="btn btn-danger">удалить</a>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="card-body">
                    <form action="#" th:action="@{/personal/create}" th:object="${order}" method="post"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="brandId">Выберите магазин</label>
                            <select id="brandId" th:field="*{shopId}">
                                <option th:required="required" th:each="shop : ${shops}"
                                        th:value="${shop.getId()}" th:text="${shop.getName()}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
